# Environment variables
.env
*.env
.env.*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Streamlit specific
.streamlit/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
